<!DOCTYPE html>
<html>
  <head>
    <title>Rr&eacute;sum&eacute;:: {{contact.name}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <!-- styles: should have reset.css first -->
    <link rel="stylesheet" href= "css/reset.css">
    <link rel="stylesheet" href= "css/main.css">
  
  </head>
  <body>

  <div id="fullpage">

    <section id="contact">
      {% block contact %}
      <article>
        <h1>{{contact.name}}</h1> 
        <h2>{{contact.jobtitle}}</h2>
      </article>

      <aside>
        <h3>{{contact.city}}, {{contact.state}}</h3>
        <h3>{{website.link}}</h3>
      </aside>
      {% endblock contact %}
    </section>

    <section id="profile">
      <article>
      <h2>Profile</h2>
      </article>

      {% block profile -%}
      <article class="article_full">
        <p>{{ summary | wordwrap }}</p>
      </article>
      {%- endblock profile %}
    </section>

    <section id="education">
      <article>
      <h2>Education</h2>
      </article>
      
      {% block education -%}
      {% for school in education -%}
      <article>
        <strong>
          <a href="{{- school.web -}} ">{{ school.degree }}, {{ school.focus }}</a>
        </strong> <br /><br />
        {{ school.schoolname }}
      </article>
      <aside>
      {{school.graduation }}
      </aside>
      
      {%- if school.notes %}
      <article class="article_full">
      <ul>
      {% for note in school.notes -%}
        <li> {{ note | wordwrap }} </li>
      {% endfor -%}
      </ul>
      </article>
      {% endif %}
      {% endfor -%}
      {% endblock education -%}
    </section>

    <section id="additional_coursework">
      <article>
      <h2>Additional Coursework</h2>
      </article>

      {% block additional_education %}
      {% for school in additional_education -%}
      <article>
        <strong>{{ school.course }}</strong> <br /><br />
        {{ school.schoolname }} 
      </article>
      <aside>
        {{ school.completed }}
      </aside>

      {%- if school.notes %}
      <article class="article_full">
      <ul>
      {% for note in school.notes -%}
        <li>{{ note | wordwrap }}</li>
      {% endfor -%}
      </ul>
      </article>
      {% endif %}
      {% endfor -%}
      {% endblock additional_education -%}

    </section>

    <article id="article_1">

    <p>
    
    {% block  work -%}
    ## Work Experience ##
    
    {% for job in work -%}
    # {{ job.position }}, {{ job.start }} --  {{job.stop }}
    {{ job.organization }}
    {{ job.web }}
    {%- if job.notes %}
    {% for note in job.notes -%}
    - {{ note | wordwrap }}
    {% endfor -%}
    {% endif %}
    {% endfor -%}
    {% endblock work -%}
    
    {% block projects -%}
    ## Projects ##
    
    {% for project in projects -%}
    # {{ project.title }}, {{project.date }}
    {{project.web }}
    {%- if project.notes %}
    {% for note in project.notes -%}
    - {{ note | wordwrap }} 
    {% endfor -%}
    {% endif %}
    {% endfor -%}
    {% endblock projects -%}
    
    {% block skills -%}
    ## Core SKills ##
    
    {% for skill in skills -%}
    # {{ skill.name }}
    {{ skill.description | wordwrap }}
    
    {% endfor -%}
    {% endblock skills -%}
    
    {% block references -%}
    ## References ##
    
    Available upon request.
    {% endblock references -%}
    </p>

    </article>
    
    <aside role="complementary" id="aside_1">

    </aside>

    <footer role="contentinfo" id="footer"></footer>

  </div> <!-- end fullpage -->

  <!-- javascript links -->
  
  </body>

</html>
