<!DOCTYPE html>
<html>
  <head>
    <title>R&eacute;sum&eacute; -- {{contact.name}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <link rel="stylesheet" href= "css/reset.css">
    <link rel="stylesheet" href= "css/main.css">
  
  </head>
  <body>

  <div id="fullpage">

      {% block contact %}
      <article>
        <h1>{{contact.name}}</h1> 
        <h3>{{contact.city}}, {{contact.state}}</h3>
      </article>

      <aside></aside>
      {% endblock contact %}

      <article>
      <h2>Profile</h2>
      </article>

      {% block profile -%}
      <article class="article_full">
        <p>{{ summary | wordwrap }}</p>
      </article>
      {%- endblock profile %}

      <article>
      <h2>Education</h2>
      </article>
      
      {% block education -%}
      {% for school in education -%}
      <article>
        <strong>
          <a target="_blank" href="{{- school.web -}} ">{{ school.degree }}, {{ school.focus }}</a>
        </strong> <br /><br />
        {{ school.schoolname }}
      </article>
      <aside>
      {{school.graduation }}
      </aside>
      
      {%- if school.notes %}
      <article class="article_full">
      <ul>
      {% for note in school.notes -%}
        <li> {{ note | wordwrap }} </li>
      {% endfor -%}
      </ul>
      </article>
      {% endif %}
      {% endfor -%}
      {% endblock education -%}

      <article>
      <h2>Additional Coursework</h2>
      </article>

      {% block additional_education %}
      {% for school in additional_education -%}
      <article>
        <strong>{{ school.course }}</strong> <br /><br />
        {{ school.schoolname }} 
      </article>
      <aside>
        {{ school.completed }}
      </aside>

      {%- if school.notes %}
      <article class="article_full">
      <ul>
      {% for note in school.notes -%}
        <li>{{ note | wordwrap }}</li>
      {% endfor -%}
      </ul>
      </article>
      {% endif %}
      {% endfor -%}
      {% endblock additional_education -%}

      <article>
      <h2>Work Experience</h2>
      </article>
    
      {% block  work %}
      {% for job in work -%}
      <article>
        <strong>{{ job.position }}</strong> <br /><br />
        <a target="_blank" href="{{ job.web }}">{{ job.organization }}</a>
      </article>
      <aside>
      {{ job.start }} --  {{job.stop }}
      </aside>

      {%- if job.notes %}
      <article class="article_full">
      <ul>
      {% for note in job.notes -%}
        <li>{{ note | wordwrap }}</li>
      {% endfor -%}
      </ul>
      </article>
      {% endif %}
      {% endfor -%}
      {% endblock work -%}
      
      <article>
      <h2>Projects</h2>
      </article>

      {% block projects %}
      {% for project in projects -%}
      <article>
        <strong>{{ project.title }}</strong> <br /><br />
        <a target="_blank" href="{{project.web }}">{{project.web }}</a>
      </article>
      <aside>
        {{project.date }}
      </aside>

      {%- if project.notes %}
      <article class="article_full">
      <ul>
      {% for note in project.notes -%}
        <li>{{ note | wordwrap }}</li>
      {% endfor -%}
      </ul>
      </article>
      {% endif %}
      {% endfor -%}
      {% endblock projects -%}
      
      <article>
      <h2>Core Skills</h2>
      </article>

      {% block skills -%}
      {% for skill in skills -%}
      <article>
        <strong>{{ skill.name }}</strong>
      </article>

      <article class="article_full">
        <p>{{ skill.description | wordwrap }}</p>
      </article>
      {% endfor -%}
      {% endblock skills -%}

      {% block references -%}
      <article>
      <h2>References</h2>
      </article>
    
      <article>    
      Available upon request
      </article>
      {% endblock references -%}

    <footer role="contentinfo" id="footer">
    </footer>

  </div> <!-- end fullpage -->

  <!-- javascript links -->
  
  </body>

</html>
